<app-add-button
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#proyectModal"
></app-add-button>

<div
  class="modal fade"
  id="proyectModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content"
      [ngStyle]="{
        'background-image': 'url(' + background + ')',
        'background-size': '100% 100%',
        'background-attachment': 'fixed'
      }"
    >
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">
          <strong>Proyecto</strong>
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submitProyect($event)">
        <div class="modal-body d-flex row justify-content-betwen">
          <label for="img"><strong>Imagen del Proyecto:</strong></label>
          <input
            formControlName="img"
            type="text"
            name="img"
            id="img"
            placeholder="Imagen del Proyecto"
            [(ngModel)]="img"
          />

          <label for="name"><strong>Nombre del Proyecto:</strong></label>
          <input
            formControlName="name"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre del Proyecto"
            [(ngModel)]="name"
          />

          <label for="info"><strong>Informacion del Proyecto:</strong></label>
          <input
            formControlName="info"
            type="text"
            name="info"
            id="info"
            placeholder="Informacion del Proyecto"
            [(ngModel)]="info"
          />

          <label for="start"><strong>Comienzo:</strong></label
          >
          <input
          formControlName="start"
            type="number"
            name="start"
            id="start"
            required
            [(ngModel)]="start"
          />

          <label for="end"><strong>Final:</strong></label>
          <input
            formControlName="end"
            type="number"
            name="end"
            id="end"
            [(ngModel)]="end"
          />
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
