<app-add-button type="button"  data-bs-toggle="modal"
data-bs-target="#hardModal"></app-add-button>


<div
  class="modal fade"
  id="hardModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Hard Skill</strong></h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

       <!---->
      <form (ngSubmit)="submitHardSkill()">


        <div class="modal-body d-flex row justify-content-betwen">
  
          <label for="logo"><strong>Logo Tecnologia:</strong></label>
          <input type="text" name="logo" id="Logo"  placeholder="Logo Tecnologia" required [(ngModel)]="img"/>
  
          <label for="name"><strong>Nombre Tecnologia:</strong></label>
          <input type="text" name="name" id="name" placeholder="Nombre Tecnologia" required [(ngModel)]="text"/> 
          
          <label for="title"><strong>Nivel (1-100):</strong></label>
          <input type="text" name="title" id="title"  placeholder="Nivel" required [(ngModel)]="pct"/> 

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

       <!---->
    </div>
  </div>
</div>

