<app-add-button type="button"  data-bs-toggle="modal"
data-bs-target="#softModal"></app-add-button>


<div
  class="modal fade"
  id="softModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Hard Skill</strong> </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

       <!---->
      <form [formGroup]="form" (ngSubmit)="submitHardSkill($event)">


        <div class="modal-body d-flex row justify-content-betwen">
  
          <label for="img"><strong>Imagen representativa de la habilidad:</strong></label>
          <input 
          formControlName="img"
          type="text"
          name="img" 
          id="img"  
          placeholder="Imagen representativa de la habilidad" 
          [(ngModel)]="img"/>
  
          <label for="text"><strong>Nombre Habildad:</strong></label>
          <input 
          formControlName="text"
          type="text" 
          name="text"
          id="text" 
          placeholder="Nombre Habildad"
          [(ngModel)]="text"/> 
          <div class="errors" *ngIf="Text?.errors && Text?.touched">
            <p *ngIf="Text?.hasError('required')" class="error">
              <strong>Nombre de la habilidad requerido.</strong>
            </p>
          </div>

          <label for="pct"><strong>Porcentaje de habilidad (1-100):</strong></label>
          <input 
          formControlName="pct"
          type="number" 
          name="pct" 
          id="pct" 
          [(ngModel)]="pct"/> 

          <div class="errors" *ngIf="Pct?.errors && Pct?.touched">
            <p *ngIf="Pct?.hasError('required')" class="error">
              <strong>Porcentaje de habilidad requerido.</strong>
            </p>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

       <!---->
    </div>
  </div>
</div>


