<app-add-button type="button"  data-bs-toggle="modal"
data-bs-target="#experienceModal"></app-add-button>


<div
  class="modal fade"
  id="experienceModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Experiencia</strong></h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

       <!---->
      <form [formGroup]="form" (ngSubmit)="submitExperience($event)">
        <div class="modal-body d-flex row justify-content-betwen">

          <label for="img"><strong>Logo de la compania:</strong></label>
          <input 
          formControlName="img"
          type="text" 
          name="img" id="Logo"  
          placeholder="Logo de la compania" 
          [(ngModel)]="img"/>
  
          <label for="companie"><strong>Nombre de la compania:</strong></label>
          <input 
          formControlName="companie"
          type="text" 
          name="companie" 
          id="companie" 
          placeholder="Nombre de la compania" 
          [(ngModel)]="companie"/> 

          <div class="errors" *ngIf="Companie?.errors && Companie?.touched">
            <p *ngIf="Companie?.hasError('required')" class="error">
              <strong>Nombre de la compania es requerido.</strong>
            </p>
          </div>
          
          <label for="position"><strong>Posicion (Trabajo):</strong></label>
          <input 
          formControlName="position"
          type="text" 
          name="position" 
          id="position"  
          placeholder="Posicion (Trabajo)"
          [(ngModel)]="position"/> 

          <div class="errors" *ngIf=" Position?.errors && Position?.touched">
            <p *ngIf="Position?.hasError('required')" class="error">
              <strong>Posicion (Trabajo) es requerido.</strong>
            </p>
          </div>

          <label for="start"><strong>Año de inicio:</strong></label>
          <input 
          formControlName="start"
          type="number" 
          name="start" 
          id="start"  
          required [(ngModel)]="start"/>  

          <div class="errors" *ngIf=" Start?.errors && Start?.touched">
            <p *ngIf="Start?.hasError('required')" class="error">
              <strong>Año de inicio es requerido.</strong>
            </p>
          </div>

          <label for="end"><strong>Año de finalizacion:</strong></label>
          <input 
          formControlName="end"
          type="number" 
          name="end" 
          id="end"
          [(ngModel)]="end"/>   

          <div class="errors" *ngIf=" End?.errors && End?.touched">
            <p *ngIf="End?.hasError('required')" class="error">
              <strong>Año de finalizacion es requerido.</strong>
            </p>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

       <!---->
    </div>
  </div>
</div>
