<app-edit-button
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#aboutModal"
></app-edit-button>

<div
  class="modal fade"
  id="aboutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content"
      [ngStyle]="{
        'background-image': 'url(' + background + ')',
        'background-size': '100% 100%',
        'background-attachment': 'fixed'
      }"
    >
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">About</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!---->

      <form [formGroup]="form" (ngSubmit)="submitAbout($event)">
        <div class="modal-body d-flex row justify-content-betwen">
          <label for="profileImg"><strong>Imagen de Perfil:</strong></label>
          <input
            formControlName="profileImg"
            type="text"
            name="profileImg"
            id="profileImg"
            placeholder="URL Imagen"
            [(ngModel)]="profileImg"
          />
          <div class="errors" *ngIf="ProfileImg?.errors && ProfileImg?.touched">
            <p *ngIf="ProfileImg?.hasError('required')" class="error">
              <strong>Imagen de perfil es requerida.</strong>
            </p>
          </div>

          <label for="position"><strong>Posicion (Trabajo):</strong></label>
          <input
            formControlName="position"
            type="text"
            spellcheck="true"
            name="position"
            id="position"
            placeholder="Posicion (Trabajo)"
            [(ngModel)]="position"
          />

          <div class="errors" *ngIf="Position?.errors && Position?.touched">
            <p *ngIf="Position?.hasError('required')" class="error">
              <strong>Posicion (Trabajo) es requerido.</strong>
            </p>
          </div>

          <label for="text"><strong>Acerca De:</strong></label>
          <input
            formControlName="text"
            type="text"
            spellcheck="true"
            name="text"
            id="text"
            placeholder="Acerca de"
            [(ngModel)]="text"
          />
        </div>

        <div class="errors" *ngIf="Text?.errors && Text?.touched">
          <p *ngIf="Text?.hasError('required')" class="error">
            <strong>Acerca de es requerido.</strong>
          </p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
