<div id="main-container" class="d-flex row justify-content-around align-items-center">
    <div id="header" class="d-flex justify-content-center align-items-center">
        <div id="sub-header" class="d-flex row justify-content-center justify-content-md-around align-items-center">  
        <h2 class="col-sm-12 d-flex justify-content-center">{{title}}</h2>
    <app-soft-modal class="col-sm-12 d-flex justify-content-center"
    (onAddSoftSkill)="addSoftSkill($event)"
></app-soft-modal>
</div> 
</div>

    <div id="sub-container" 
    class="d-flex row justify-content-center align-items-center col-6 col-sm-4 col-md-3"
    *ngFor="let  softSkill of  softSkill">
    <div id="buttons"class="d-flex justify-content-end">
        <app-delete-button (click)="onDelete( softSkill)"></app-delete-button>
    </div>
        <div class="d-flex row col-12 justify-content-around align-items-center">
            <div id="img-container"class="col-3 d-flex justify-content-center align-items-center">
                <img class="img-fluid" [src]=" softSkill.img"> 
            </div>
            <div class="col-9 d-flex justify-content-center align-items-center">
                <strong>{{ softSkill.text}}</strong>
            </div>
        </div>
        <div id="progress" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':  softSkill.pct + '%'}" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{softSkill.pct}}%</div>
        </div>
    </div>
</div>

