<app-add-button type="button"  data-bs-toggle="modal"
data-bs-target="#educationModal"></app-add-button>


<div
  class="modal fade"
  id="educationModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Educación</strong></h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submitEducation($event)">
        <div class="modal-body d-flex row justify-content-betwen">
  
          <label for="logo">
            <strong>Logo del Establecimiento/Lugar:</strong>
          </label>
          <input 
          formControlName="img"
          type="text" 
          name="logo" 
          id="Logo"  
          placeholder="Logo del Establecimiento/Lugar" 
          [(ngModel)]="img"/>
  
          <label for="name">
            <strong>Nombre del Establecimiento/Lugar:</strong>
          </label>
          <input 
          formControlName="school"
          type="text" 
          name="name" 
          id="name" 
          placeholder="Nombre del Establecimiento/Lugar" 
          [(ngModel)]="school"/> 
          
          <div class="errors" *ngIf="School?.errors && School?.touched">
            <p *ngIf="School?.hasError('required')" class="error">
              <strong>Nombre del Establecimiento/Lugar es requerido.</strong>
            </p>
          </div>

          <label for="title">
            <strong>Título/Carrera:</strong>
          </label>
          <input 
          formControlName="title"
          type="text" 
          name="title" id="title"  
          placeholder="Titulo/Carrera"
          [(ngModel)]="title"/> 

          <div class="errors" *ngIf="Title?.errors && Title?.touched">
            <p *ngIf="Title?.hasError('required')" class="error">
              <strong>Titulo/Carrera es requerido.</strong>
            </p>
          </div>

          <label for="start">
            <strong>Año de inicio:</strong>
          </label>
          <input 
          formControlName="start"
          type="number" 
          name="start" 
          id="start" 
          [(ngModel)]="start"/>  

          <div class="errors" *ngIf="Start?.errors && Start?.touched">
            <p *ngIf="Start?.hasError('required')" class="error">
              <strong>Año de inicio es requerido.</strong>
            </p>
          </div>

          <label for="end">
            <strong>Año de finalizacion:</strong>
          </label>
          <input 
          formControlName="end"
          type="number" 
          name="end" 
          id="end" 
          [(ngModel)]="end"/>   

          <div class="errors" *ngIf="End?.errors && End?.touched">
            <p *ngIf="End?.hasError('required')" class="error">
              <strong>Año de finalizacion es requerido.</strong>
            </p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
