<app-add-button type="button"  data-bs-toggle="modal"
data-bs-target="#educationModal"></app-add-button>


<div
  class="modal fade"
  id="educationModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Educación</strong></h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form (ngSubmit)="submitEducation()">
        <div class="modal-body d-flex row justify-content-betwen">
  
          <label for="logo"><strong>Logo del Establecimiento/Lugar:</strong></label>
          <input type="text" name="logo" id="Logo"  placeholder="Logo del Establecimiento/Lugar" required [(ngModel)]="img"/>
  
          <label for="name"><strong>Nombre del Establecimiento/Lugar:</strong></label>
          <input type="text" name="name" id="name" placeholder="Nombre del Establecimiento/Lugar" required [(ngModel)]="school"/> 
          
          <label for="title"><strong>Título/Carrera:</strong></label>
          <input type="text" name="title" id="title"  placeholder="Titulo/Carrera" required [(ngModel)]="title"/> 

          <label for="start"><strong>Comienzo:</strong></label>
          <input type="number" min="1900" max="2099" step="1" value="2016" name="start" id="start" required [(ngModel)]="start"/>  

          <label for="end"><strong>Final:</strong></label>
          <input type="number" min="1900" max="2099" step="1" value="2016" name="end" id="end" required [(ngModel)]="end"/>   

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            <strong>Guardar</strong>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
